In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
import csv

In [2]:
#define data to pull from WHO GHO API
url= "https://ghoapi.azureedge.net/api/SA_0000001476"
url1= "https://ghoapi.azureedge.net/api/SA_0000001398"
url2= "https://ghoapi.azureedge.net/api/SA_0000001732"
url3= "https://ghoapi.azureedge.net/api/SA_0000001523"
url4= "https://ghoapi.azureedge.net/api/WHOSIS_000002"
url5= "https://ghoapi.azureedge.net/api/SA_0000001822"
url6= "https://ghoapi.azureedge.net/api/SA_0000001398"
url7= "https://ghoapi.azureedge.net/api/TAXBEV_MOSTSOLDSPIRIT"
url8= "https://ghoapi.azureedge.net/api/SA_0000001400_ARCHIVED"
url9= "https://ghoapi.azureedge.net/api/SA_0000001688"
url10= "https://ghoapi.azureedge.net/api/SA_0000001398_ARCHIVED"

In [3]:
# list to store URLS 
urls= [url,url1,url2,url3,url4,url5,url6,url7,url8, url9, url10]

# Dictionary to store dataframes
dataframes = {}

# Fetch data from each URL and create dataframes
for idx, url in enumerate(urls):
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        df_name = f"df_{idx}"  # Name the dataframe
        dataframes[df_name] = pd.DataFrame(data)
        print("Data from", url, "has been fetched and stored in", df_name)
    else:
        print("Failed to fetch data from", url)

Data from https://ghoapi.azureedge.net/api/SA_0000001476 has been fetched and stored in df_0
Data from https://ghoapi.azureedge.net/api/SA_0000001398 has been fetched and stored in df_1
Data from https://ghoapi.azureedge.net/api/SA_0000001732 has been fetched and stored in df_2
Data from https://ghoapi.azureedge.net/api/SA_0000001523 has been fetched and stored in df_3
Data from https://ghoapi.azureedge.net/api/WHOSIS_000002 has been fetched and stored in df_4
Data from https://ghoapi.azureedge.net/api/SA_0000001822 has been fetched and stored in df_5
Data from https://ghoapi.azureedge.net/api/SA_0000001398 has been fetched and stored in df_6
Data from https://ghoapi.azureedge.net/api/TAXBEV_MOSTSOLDSPIRIT has been fetched and stored in df_7
Data from https://ghoapi.azureedge.net/api/SA_0000001400_ARCHIVED has been fetched and stored in df_8
Data from https://ghoapi.azureedge.net/api/SA_0000001688 has been fetched and stored in df_9
Data from https://ghoapi.azureedge.net/api/SA_0000001398_ARCHIVED has been fetched and stored in df_10

In [10]:
# Assuming dataframes is a dictionary containing DataFrames
for df_name, df in dataframes.items():
    # Expand dictionaries into separate columns and rows
    expanded_df = pd.json_normalize(df['value'])  # Replace 'your_column_name_here' with the actual column name
    
    # Assign the expanded DataFrame back to the original variable
    globals()[df_name] = expanded_df
    
    # Write DataFrame to CSV
    csv_filename = f"{df_name}.csv"
    expanded_df.to_csv(csv_filename, index=False)  # Fixing the syntax here
    print(f"DataFrame '{df_name}' has been written to '{csv_filename}' CSV file.")
    print()

DataFrame 'df_0' has been written to 'df_0.csv' CSV file.

DataFrame 'df_1' has been written to 'df_1.csv' CSV file.

DataFrame 'df_2' has been written to 'df_2.csv' CSV file.

DataFrame 'df_3' has been written to 'df_3.csv' CSV file.

DataFrame 'df_4' has been written to 'df_4.csv' CSV file.

DataFrame 'df_5' has been written to 'df_5.csv' CSV file.

DataFrame 'df_6' has been written to 'df_6.csv' CSV file.

DataFrame 'df_7' has been written to 'df_7.csv' CSV file.

DataFrame 'df_8' has been written to 'df_8.csv' CSV file.

DataFrame 'df_9' has been written to 'df_9.csv' CSV file.

DataFrame 'df_10' has been written to 'df_10.csv' CSV file.

In [12]:
#clean and transfor df_0 Per Houshold % expenditure  consumption
df_0clean = df_0[['SpatialDim', 'ParentLocationCode', 'TimeDim', 'Value', 'TimeDimensionValue']]
df_0clean.columns = ['SpatialDim', 'ParentLocationCode', 'TimeDim', 'PercentHouseholdExp', 'TimeDimensionValue']
display(df_0clean)

,SpatialDim,ParentLocationCode,TimeDim,PercentHouseholdExp,TimeDimensionValue
0,FIN,EUR,2009,4.8,2009
1,USA,AMR,2000,1,2000
2,ITA,EUR,2001,0.8,2001
3,AZE,EUR,2008,0.6,2008
4,HUN,EUR,2012,3.1,2012
...,...,...,...,...,...
500,NOR,EUR,1999,3.9,1999
501,ARM,EUR,1991,2.8,1991
502,ISL,EUR,2005,2.9,2005
503,ITA,EUR,2000,0.8,2000
504,EST,EUR,1999,2,1999

In [27]:
df_1clean= df_1[['SpatialDim', 'ParentLocationCode', 'TimeDim','Dim1', 'Value', 'TimeDimensionValue']]
df_1clean.columns = ['SpatialDim', 'ParentLocationCode', 'TimeDim','BevType', 'LPerCapita', 'TimeDimensionValue']
display(df_1clean)

,SpatialDim,ParentLocationCode,TimeDim,BevType,LPerCapita,TimeDimensionValue
0,CHL,AMR,2016,ALCOHOLTYPE_SA_WINE,33.1,2016
1,LBR,AFR,2016,ALCOHOLTYPE_SA_SPIRITS,88.2,2016
2,AND,EUR,2016,ALCOHOLTYPE_SA_WINE,42,2016
3,FRA,EUR,2016,ALCOHOLTYPE_SA_BEER,18.8,2016
4,EST,EUR,2016,ALCOHOLTYPE_SA_SPIRITS,50.3,2016
...,...,...,...,...,...,...
771,KOR,WPR,2016,ALCOHOLTYPE_SA_WINE,1.9,2016
772,GTM,AMR,2016,ALCOHOLTYPE_SA_BEER,56.1,2016
773,VUT,WPR,2016,ALCOHOLTYPE_SA_SPIRITS,36.1,2016
774,UKR,EUR,2016,ALCOHOLTYPE_SA_BEER,42.3,2016
775,GBR,EUR,2016,ALCOHOLTYPE_SA_SPIRITS,22.5,2016

In [31]:
# Create new columns for SPIRITS, BEER, WINE, and OTHER_ALCOHOL
df_1clean['SPIRITS'] = 0
df_1clean['BEER'] = 0
df_1clean['WINE'] = 0
df_1clean['OTHER_ALCOHOL'] = 0

# Iterate over rows and update SPIRITS, BEER, WINE, or OTHER_ALCOHOL columns based on 'BevType'
for index, row in df_1clean.iterrows():
    if row['LPerCapita'] is not None and row['LPerCapita'] != 'No data':
        if 'SPIRITS' in row['BevType']:
            df_1clean.at[index, 'SPIRITS'] = float(row['LPerCapita'])
        elif 'BEER' in row['BevType']:
            df_1clean.at[index, 'BEER'] = float(row['LPerCapita'])
        elif 'WINE' in row['BevType']:
            df_1clean.at[index, 'WINE'] = float(row['LPerCapita'])
        elif 'OTHER_ALCOHOL' in row['BevType']:
            # Replace "<1" with 0.5, assuming it represents a value less than 1
            l_per_capita = row['LPerCapita'].replace('<', '')
            df_1clean.at[index, 'OTHER_ALCOHOL'] = float(l_per_capita) if l_per_capita.isnumeric() else 0.5

# Explicitly cast the newly added columns to float
df_1clean['SPIRITS'] = df_1clean['SPIRITS'].astype(float)
df_1clean['BEER'] = df_1clean['BEER'].astype(float)
df_1clean['WINE'] = df_1clean['WINE'].astype(float)
df_1clean['OTHER_ALCOHOL'] = df_1clean['OTHER_ALCOHOL'].astype(float)

# Drop the original 'LPerCapita' and 'BevType' columns if no longer needed
df_1clean.drop(columns=['LPerCapita', 'BevType'], inplace=True)

# Display the updated DataFrame
display(df_1clean)

C:\Users\19727\AppData\Local\Temp\ipykernel_16916\707766865.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1clean['SPIRITS'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\707766865.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1clean['BEER'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\707766865.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1clean['WINE'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\707766865.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1clean['OTHER_ALCOHOL'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\707766865.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '33.1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_1clean.at[index, 'WINE'] = float(row['LPerCapita'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\707766865.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '88.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_1clean.at[index, 'SPIRITS'] = float(row['LPerCapita'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\707766865.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '18.8' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_1clean.at[index, 'BEER'] = float(row['LPerCapita'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\707766865.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_1clean.at[index, 'OTHER_ALCOHOL'] = float(l_per_capita) if l_per_capita.isnumeric() else 0.5
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\707766865.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1clean['SPIRITS'] = df_1clean['SPIRITS'].astype(float)
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\707766865.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1clean['BEER'] = df_1clean['BEER'].astype(float)
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\707766865.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1clean['WINE'] = df_1clean['WINE'].astype(float)
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\707766865.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1clean['OTHER_ALCOHOL'] = df_1clean['OTHER_ALCOHOL'].astype(float)
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\707766865.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1clean.drop(columns=['LPerCapita', 'BevType'], inplace=True)

,SpatialDim,ParentLocationCode,TimeDim,TimeDimensionValue,SPIRITS,BEER,WINE,OTHER_ALCOHOL
0,CHL,AMR,2016,2016,0.0,0.0,33.1,0.0
1,LBR,AFR,2016,2016,88.2,0.0,0.0,0.0
2,AND,EUR,2016,2016,0.0,0.0,42.0,0.0
3,FRA,EUR,2016,2016,0.0,18.8,0.0,0.0
4,EST,EUR,2016,2016,50.3,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
771,KOR,WPR,2016,2016,0.0,0.0,1.9,0.0
772,GTM,AMR,2016,2016,0.0,56.1,0.0,0.0
773,VUT,WPR,2016,2016,36.1,0.0,0.0,0.0
774,UKR,EUR,2016,2016,0.0,42.3,0.0,0.0
775,GBR,EUR,2016,2016,22.5,0.0,0.0,0.0

In [32]:
# Group by 'SpatialDim' and aggregate the values of 'SPIRITS', 'BEER', 'WINE', and 'OTHER_ALCOHOL'
df_1clean1 = df_1clean.groupby(['SpatialDim', 'ParentLocationCode', 'TimeDim', 'TimeDimensionValue']).agg({'SPIRITS': 'sum', 'BEER': 'sum', 'WINE': 'sum', 'OTHER_ALCOHOL': 'sum'}).reset_index()

# Display the updated DataFrame
display(df_1clean1)

,SpatialDim,ParentLocationCode,TimeDim,TimeDimensionValue,SPIRITS,BEER,WINE,OTHER_ALCOHOL
0,AFG,EMR,2016,2016,0.0,0.0,0.0,0.0
1,AGO,AFR,2016,2016,11.3,70.3,17.6,0.5
2,ALB,EUR,2016,2016,37.6,34.3,26.5,0.5
3,AND,EUR,2016,2016,23.9,34.1,42.0,0.0
4,ARE,EMR,2016,2016,81.9,10.1,7.7,0.5
...,...,...,...,...,...,...,...,...
189,WSM,WPR,2016,2016,0.0,94.1,5.9,0.0
190,YEM,EMR,2016,2016,10.5,89.5,0.0,0.0
191,ZAF,AFR,2016,2016,17.8,56.0,18.5,0.5
192,ZMB,AFR,2016,2016,0.4,36.4,2.7,0.5
193,ZWE,AFR,2016,2016,12.0,62.8,1.3,0.5

In [23]:
###PRICES BY ALC

df_3clean= df_3[['SpatialDim', 'ParentLocationCode', 'TimeDim','Dim1', 'Value', 'TimeDimensionValue']]
df_3clean.columns = ['SpatialDim', 'ParentLocationCode', 'TimeDim','BevType', 'Price', 'TimeDimensionValue']
display(df_3clean)

,SpatialDim,ParentLocationCode,TimeDim,BevType,Price,TimeDimensionValue
0,IND,SEAR,2012,BEVERAGETYPE_SA_750_POPULAR_LOCAL_SPIRITS,5.41,2012
1,SEN,AFR,2012,BEVERAGETYPE_SA_500_POPULAR_BEER,1.45,2012
2,ARG,AMR,2012,BEVERAGETYPE_SA_750_TABLE_WINE,1.24,2012
3,TCD,AFR,2012,BEVERAGETYPE_SA_750_POPULAR_IMPORTED_SPIRITS,14.39,2012
4,SYR,EMR,2012,BEVERAGETYPE_SA_750_POPULAR_LOCAL_SPIRITS,1.87,2012
...,...,...,...,...,...,...
752,KWT,EMR,2012,BEVERAGETYPE_SA_750_POPULAR_IMPORTED_SPIRITS,None,2012
753,EGY,EMR,2012,BEVERAGETYPE_SA_500_POPULAR_BEER,None,2012
754,MOZ,AFR,2012,BEVERAGETYPE_SA_750_POPULAR_LOCAL_SPIRITS,2.69,2012
755,TGO,AFR,2012,BEVERAGETYPE_SA_500_POPULAR_BEER,0.73,2012
756,TKM,EUR,2012,BEVERAGETYPE_SA_750_TABLE_WINE,None,2012

In [25]:
###PRICES BY ALCOHOL TYPE
# Create new columns for SPIRITS, BEER, and WINE
df_3clean['SPIRITS'] = 0
df_3clean['BEER'] = 0
df_3clean['WINE'] = 0

# Iterate over rows and update SPIRITS, BEER, or WINE columns based on 'BevType'
for index, row in df_3clean.iterrows():
    if row['Price'] is not None:
        if 'SPIRITS' in row['BevType']:
            df_3clean.at[index, 'SPIRITS'] = float(row['Price'])
        elif 'BEER' in row['BevType']:
            df_3clean.at[index, 'BEER'] = float(row['Price'])
        elif 'WINE' in row['BevType']:
            df_3clean.at[index, 'WINE'] = float(row['Price'])

# Explicitly cast the newly added columns to float
df_3clean['SPIRITS'] = df_3clean['SPIRITS'].astype(float)
df_3clean['BEER'] = df_3clean['BEER'].astype(float)
df_3clean['WINE'] = df_3clean['WINE'].astype(float)

# Drop the original 'Price' and 'BevType' columns if no longer needed
df_3clean.drop(columns=['Price', 'BevType'], inplace=True)

# Display the updated DataFrame
display(df_3clean)

C:\Users\19727\AppData\Local\Temp\ipykernel_16916\3138580737.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3clean['SPIRITS'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\3138580737.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3clean['BEER'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\3138580737.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3clean['WINE'] = 0
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\3138580737.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '5.41' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_3clean.at[index, 'SPIRITS'] = float(row['Price'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\3138580737.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.45' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_3clean.at[index, 'BEER'] = float(row['Price'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\3138580737.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '1.24' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_3clean.at[index, 'WINE'] = float(row['Price'])
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\3138580737.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3clean['SPIRITS'] = df_3clean['SPIRITS'].astype(float)
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\3138580737.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3clean['BEER'] = df_3clean['BEER'].astype(float)
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\3138580737.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3clean['WINE'] = df_3clean['WINE'].astype(float)
C:\Users\19727\AppData\Local\Temp\ipykernel_16916\3138580737.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3clean.drop(columns=['Price', 'BevType'], inplace=True)

,SpatialDim,ParentLocationCode,TimeDim,TimeDimensionValue,SPIRITS,BEER,WINE
0,IND,SEAR,2012,2012,5.41,0.00,0.00
1,SEN,AFR,2012,2012,0.00,1.45,0.00
2,ARG,AMR,2012,2012,0.00,0.00,1.24
3,TCD,AFR,2012,2012,14.39,0.00,0.00
4,SYR,EMR,2012,2012,1.87,0.00,0.00
...,...,...,...,...,...,...,...
752,KWT,EMR,2012,2012,0.00,0.00,0.00
753,EGY,EMR,2012,2012,0.00,0.00,0.00
754,MOZ,AFR,2012,2012,2.69,0.00,0.00
755,TGO,AFR,2012,2012,0.00,0.73,0.00
756,TKM,EUR,2012,2012,0.00,0.00,0.00

In [21]:
# Group by 'SpatialDim' and aggregate the values of 'SPIRITS', 'BEER', and 'WINE'
df_3clean1 = df_3clean.groupby(['SpatialDim', 'ParentLocationCode', 'TimeDim', 'TimeDimensionValue']).agg({'SPIRITS': 'sum', 'BEER': 'sum', 'WINE': 'sum'}).reset_index()

# Display the updated DataFrame
display(df_3clean1)

,SpatialDim,ParentLocationCode,TimeDim,TimeDimensionValue,SPIRITS,BEER,WINE
0,AFG,EMR,2012,2012,0.00,0.00,0.00
1,AGO,AFR,2012,2012,9.44,1.59,1.79
2,ALB,EUR,2012,2012,158.93,4.58,4.25
3,AND,EUR,2012,2012,11.89,1.22,7.86
4,ARE,EMR,2012,2012,0.00,0.00,0.00
...,...,...,...,...,...,...,...
185,WSM,WPR,2012,2012,0.00,0.00,0.00
186,YEM,EMR,2012,2012,0.00,0.00,0.00
187,ZAF,AFR,2012,2012,36.09,0.90,2.02
188,ZMB,AFR,2012,2012,15.48,2.05,5.80
189,ZWE,AFR,2012,2012,24.00,1.07,6.00

In [28]:
# Group by 'SpatialDim' and aggregate the values of 'SPIRITS', 'BEER', and 'WINE'
df_clean1 = df_3clean.groupby(['SpatialDim', 'ParentLocationCode', 'TimeDim', 'TimeDimensionValue']).agg({'SPIRITS': 'sum', 'BEER': 'sum', 'WINE': 'sum'}).reset_index()

# Display the updated DataFrame
display(df_clean1)

,SpatialDim,ParentLocationCode,TimeDim,TimeDimensionValue,SPIRITS,BEER,WINE
0,AFG,EMR,2012,2012,0.00,0.00,0.00
1,AGO,AFR,2012,2012,9.44,1.59,1.79
2,ALB,EUR,2012,2012,158.93,4.58,4.25
3,AND,EUR,2012,2012,11.89,1.22,7.86
4,ARE,EMR,2012,2012,0.00,0.00,0.00
...,...,...,...,...,...,...,...
185,WSM,WPR,2012,2012,0.00,0.00,0.00
186,YEM,EMR,2012,2012,0.00,0.00,0.00
187,ZAF,AFR,2012,2012,36.09,0.90,2.02
188,ZMB,AFR,2012,2012,15.48,2.05,5.80
189,ZWE,AFR,2012,2012,24.00,1.07,6.00

In [ ]:
# # Drop the first column from df_0
# df_0.drop(df_0.columns[0], axis=1, inplace=True)

# display(df_0)
# # # Extract 'Id' from the dictionary in the ' @odata.context' column and replace it
# # df_0['@odata.context'] = df_0['@odata.context'].apply(pd.Series)['Id']

# # # Display the modified DataFrame
# # print(df_0)

In [ ]:
# expanded_df = pd.json_normalize(df_0['value'])
# display(expanded_df)

In [ ]:
# df_0_4= pd.merge(df_0, df_4, on=['TimeDimensionValue', 'SpatialDim'], how='inner')
# display(df_0_4)

In [ ]:
# Write DataFrame to CSV
#df_0_4.to_csv("life_expectancy_household_percent.csv", index=False)

In [ ]:
# percap_household_exp = pd.merge(df_0, df_8, on=['TimeDimensionValue', 'SpatialDim'], how='inner')

# # Display the resulting merged dataframe
# display(percap_household_exp)
# percap_household_exp.to_csv("percap_household_exp.csv", index=False)

In [ ]:
#3 and 7 are a mess-- due to multiple country codes due to diff alc types
# maindf = pd.merge(maindf, df_3, on=['TimeDimensionValue', 'SpatialDim'], how='inner')
#maindf = pd.merge(maindf, df_5, on=['TimeDimensionValue', 'SpatialDim'], how='inner')
# maindf = pd.merge(maindf, df_7, on=['TimeDimensionValue', 'SpatialDim'], how='inner')

In [ ]:
# maindf = pd.merge(percap_household_exp, df_3, on=['TimeDimensionValue', 'SpatialDim'], how='inner')
# maindf = pd.merge(maindf, df_5, on=['TimeDimensionValue', 'SpatialDim'], how='inner')
# maindf = pd.merge(maindf, df_7, on=['TimeDimensionValue', 'SpatialDim'], how='inner')